.details {
  width: 100%;
  height: 950px;
  margin: auto;
  margin-bottom: 4rem;
}

.details-overlay {
  position: absolute;
  width: 100%;
  height: 950px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 0.75) 25%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.75) 75%,
    rgba(0, 0, 0, 1) 85%
  );
}

.details img {
  width: 100%;
  height: 950px;
  object-fit: cover;
  object-position: center;
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 18%;
  margin-left: 10rem;
}

.detail-title {
  font-size: 3.3rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.detail-info ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  font-size: 1.1rem;
  margin-bottom: 3.3rem;
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #866ff9;
}

.detail-info li {
  margin-right: 2.5rem;
}

li span {
  padding-right: 0.6rem;
}

.detail-overview {
  width: 300px;
  text-align: left;
}

.detail-poster {
  position: absolute;
  top: 28%;
  right: 12rem;
  margin: auto;
  height: 400px;
  width: 260px;
}

.detail-poster img {
  height: 400px;
  width: 260px;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.85) 0px 11px 90px 10px;
  border-radius: 10px;
}

.detail-btn {
  padding: 0.4rem 0.9rem;
  margin-top: 1.3rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  border: 2px solid #9681ff;
}

.detail-btn:hover {
  cursor: pointer;
  padding: 0.4rem 0.9rem;
  margin-top: 1.3rem;
  background-color: #9681ff;
  color: white;
  font-size: 1rem;
  border: 2px solid #9681ff;
}

.detail-added {
  margin-left: 1.2rem;
  font-size: 0.9rem;
  color: #9681ff;
}



@media screen and (max-width: 1550px) {
  .detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 18%;
    margin-left: 7rem;
  }
  .detail-poster {
    position: absolute;
    top: 42%;
    right: 7rem;
    margin: auto;
    height: 400px;
    width: 260px;
  }
  .detail-title {
    font-size: 3.1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
  }

  .detail-info ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    font-size: 1rem;
    margin-bottom: 3.3rem;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #866ff9;
  }

  .detail-info li {
    margin-right: 2.5rem;
  }

  li span {
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .details {
    width: 100%;
    height: 950px;
    margin: auto;
    margin-bottom: 4rem;
  }

  .details-overlay {
    position: absolute;
    width: 100%;
    height: 950px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.98) 15%,
      rgba(0, 0, 0, 0.8) 25%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.3) 75%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }

  .details img {
    width: 100%;
    height: 950px;
    object-fit: cover;
    object-position: center;
  }

  .detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 18%;
    margin-left: 4rem;
  }

  .detail-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
  }

  .detail-info ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    font-size: 0.9rem;
    margin-bottom: 3.3rem;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #866ff9;
  }

  .detail-info li {
    margin-right: 2.5rem;
  }

  li span {
    padding-right: 0.5rem;
  }

  .detail-overview {
    width: 300px;
    font-size: 0.9rem;
    text-align: left;
  }

  .detail-poster {
    position: absolute;
    top: 39%;
    right: 4rem;
    margin: auto;
    height: 360px;
    width: 240px;
  }

  .detail-poster img {
    height: 360px;
    width: 240px;
    object-fit: cover;
    box-shadow: rgba(255, 255, 255, 0.85) 0px 11px 90px 10px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 725px){
    .details {
        width: 100%;
        height: 600px;
        margin: auto;
        margin-bottom: 4rem;
      }
    
      .details-overlay {
        position: absolute;
        width: 100%;
        height: 600px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.98) 15%,
          rgba(0, 0, 0, 0.8) 25%,
          rgba(0, 0, 0, 0.6) 50%,
          rgba(0, 0, 0, 0.3) 75%,
          rgba(0, 0, 0, 0.2) 100%
        );
      }
    
      .details img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
      }
    
      .detail-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 15%;
        margin-left: 1.2rem;
      }
    
      .detail-title {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1.8rem;
      }
    
      .detail-info ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        font-size: 0.6rem;
        margin-bottom: 3.2rem;
        border-bottom: none;
      }
    
      .detail-info li {
        margin-bottom: 0.9rem;
        margin-left: 1rem;
        border-bottom: 2px solid #866ff9;
      }
    
      li span {
        padding-right: 0.5rem;
        border-bottom: 2px solid #866ff9;
      }
    
      .detail-overview {
        width: 290px;
        margin-left: 1rem;
        font-size: 0.7rem;
        text-align: left;
      }
    
      .detail-poster {
        position: absolute;
        top: 21%;
        right: 2.6rem;
        height: 150px;
        width: 115px;
      }
    
      .detail-poster img {
        height: 150px;
        width: 115px;
        object-fit: cover;
        box-shadow: rgba(255, 255, 255, 0.60) 0px 11px 30px 20px;
        border-radius: 10px;
      }

      .detail-btn {
        padding: 0.2rem 0.6rem;
        margin-top: 1.3rem;
        margin-left: 1rem;
        background-color: transparent;
        color: white;
        font-size: 0.7rem;
        border: 2px solid #9681ff;
      }
      
      .detail-btn:hover {
        cursor: pointer;
        padding: 0.2rem 0.6rem;
        margin-top: 1.3rem;
        margin-left: 1rem;
        background-color: #9681ff;
        color: white;
        font-size: 0.7rem;
        border: 2px solid #9681ff;
      }

      .detail-added {
        margin-left: 0.8rem;
        font-size: 0.7rem;
        color: #9681ff;
      }
      
}
