.details {
    width: 100%;
    height: 950px;
    margin: auto;
}

.details-overlay{
    position: absolute;
    width: 100%;
    height: 950px;

    background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.96) 10%,
    rgba(0, 0, 0, 0.90) 25%,
    rgba(0, 0, 0, 0.75) 35%,
    rgba(0, 0, 0, .43) 45%,
    rgba(0, 0, 0, 0.08) 49%
  );
}

.details img{
    width: 100%;
    height: 950px;
    object-fit: cover;
    object-position: center;
}

.detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 20%;
}

.detail-info ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
}

.detail-info li {
    margin-left: 0.7rem;
}