.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 0 5rem;
}

.error {
  font-size: 1.2rem;
  padding-bottom: 40rem;
}

h2 {
  margin-bottom: 3rem;
  margin-left: 8rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  text-align: left;
  text-decoration: underline;
}
