.about {
    height: 700px;
    width: 100%;
}

.about-container {
    width: 900px;
    margin: auto;
}

.about-container h2 {
    margin: 6rem 0 3rem 0;
    text-align: left;
}

.about .about-container a {
    text-decoration: underline;
}