.header {
  padding: 0 3rem;
  height: 85px;
  width: 100%;
  background-color: #866ff9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  padding: 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.sign-up {
  height: 29px;
  width: 66px;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.sign-out {
  height: 29px;
  width: 66px;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.home-link {
  font-size: 2.1rem;
  font-weight: 600;
}

.hamburger {
  display: none;
}

.close-btn {
  display: none;
}

@media screen and (max-width: 725px) {
  .header {
    padding: 0 1.3rem;
    height: 85px;
    width: 100%;
    background-color: #866ff9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home-link {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .link {
    padding: 0.3rem;
    font-size: 0.7rem;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .close-btn {
    display: flex;
    cursor: pointer;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -100%;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 20;
    transition: 1s;
  }

  .nav-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 20;
    transition: 1s;
  }

  .link {
    font-size: 1.8rem;
    width: 28%;
    margin: 2.8rem;
  }

  .close-btn {
    z-index: 21;
    transition: 1s;
    color: #866ff9;
  }
}
