.cover-movie {
  width: 100%;
  height: 800px;
  margin: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 800px;
  margin: 0 0;
  padding: 8rem;
  font-size: 2rem;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 0.65) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.65) 75%,
    rgba(0, 0, 0, 1) 85%
  );
}

.cover-movie img {
  object-fit: cover;
  width: 85%;
  height: 100%;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 19%;
}

.title {
  text-align: left;
  margin-left: 8rem;
  margin-bottom: 2rem;
  max-width: 350px;
}

.title p {
  display: inline;
  font-size: 2.3rem;
}

.description {
  text-align: left;
  margin-left: 8rem;
  max-width: 350px;
  line-height: 1.4;
}

.description p {
  display: inline;
  font-size: 1rem;
  line-height: 1.4;
}

.btns-container {
  margin-left: 8rem;
  margin-top: 2rem;
}

.btns-container button {
  padding: 0.7rem 1.6rem;
  margin-right: 1.5rem;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  border: 2px solid #9681ff;
}

.btns-container button:hover {
  cursor: pointer;
  padding: 0.7rem 1.6rem;
  margin-right: 1.5rem;
  background-color: #9681ff;
  color: white;
  font-size: 1rem;
  border: 2px solid #9681ff;
}

.rating{
  color:white;
  font-size: 1.3rem;
  margin-left: 8rem;
  margin-top: 1.5rem;
}

.added{
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 1100px) {
  .cover-movie {
    width: 100%;
    height: 750px;
    margin: auto;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 750px;
    margin: 0 0;
    padding: 8rem;
    font-size: 2rem;
    text-decoration: none;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.98) 15%,
      rgba(0, 0, 0, 0.80) 25%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .cover-movie img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 23%;
  }

  .title {
    text-align: left;
    margin-left: 4rem;
    margin-bottom: 1.6rem;
    max-width: 320px;
  }
  
  .title p {
    display: inline;
    font-size: 1.9rem;
  }
  
  .description {
    text-align: left;
    margin-left: 4rem;
    max-width: 320px;
    line-height: 1.1;
  }
  
  .description p {
    display: inline;
    font-size: 0.8rem;
    line-height: 1.1;
  }
  
  .btns-container {
    margin-left: 4rem;
    margin-top: 2rem;
  }

  .rating{
    color:white;
    font-size: 1.1rem;
    margin-left: 4rem;
    margin-top: 1.6rem;
  }
}

@media screen and (max-width:  725px){
  .cover-movie {
    width: 100%;
    height: 550px;
    margin: auto;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 550px;
    margin: 0 0;
    padding: 8rem;
    font-size: 2rem;
    text-decoration: none;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.98) 15%,
      rgba(0, 0, 0, 0.80) 25%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 20%;
  }

  .title {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
    max-width: 180px;
  }
  
  .title p {
    display: inline;
    font-size: 1.4rem;
  }
  
  .description {
    text-align: left;
    margin-left: 2rem;
    max-width: 165px;
    line-height: 0.9;
  }
  
  .description p {
    display: inline;
    font-size: 0.6rem;
    line-height: 0.9;
    
  }
  
  .btns-container {
    margin-left: 2rem;
    margin-top: 1.2rem;
  }
  
  .btns-container button {
    padding: 0.4rem 1rem;
    margin-right: 1.5rem;
    background-color: transparent;
    color: white;
    font-size: .8rem;
    border: 2px solid #9681ff;
  }
  
  .btns-container button:hover {
    cursor: pointer;
    padding: 0.4rem 1rem;
    margin-right: 1.5rem;
    background-color: #9681ff;
    color: white;
    font-size: 0.8rem;
    border: 2px solid #9681ff;
  }

  .rating{
    color:white;
    font-size: 0.8rem;
    margin-left: 2rem;
    margin-top: 1.1rem;
  }

  .added{
    color: white;
    font-size: 0.8rem;
  }
}

