.login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login .login-container {
    margin: 8rem;
    border-radius: 12px;
    background-color: black;
    border: 2px solid white;
    width: 390px;
    height: 550px;
    box-shadow: #866ff9 0px 11px 40px 6px;
    transition: 3s;
  }

  .login .login-container:hover {
    box-shadow: #866ff9 0px 11px 90px 24px;
    transition: 3s;
  }
  
  .form-container {
    width: 300px;
    height: 510px;
    margin: 2.3rem auto;
  }
  
  h2 {
    margin: 4rem 0 2rem 0;
    font-size: 2.1rem;
  }
  
  .form-container input {
    margin: 0.4rem 0;
    padding: 0.7rem;
    background-color: rgb(85, 85, 85);
    color: #f4f4f4;
    border-radius: 4px;
    outline: none;
    border: 2px solid rgb(85, 85, 85);
    box-shadow: none;
  }
  
  .form-container input:focus {
    margin: 0.4rem 0;
    padding: 0.7rem;
    background-color: rgb(85, 85, 85);
    color: #f4f4f4;
    border-radius: 4px;
    outline: none;
    border: 2px solid rgb(205, 205, 205);
    box-shadow: none;
  }
  
  .login-in-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .login-in-form button {
    height: 42px;
    margin: 1.2rem 0;
    background-color: #26272b;
    border-color: #26272b;
    color: #866ff9;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
  }

  .login-in-form button:hover {
    height: 42px;
    margin: 1.2rem 0;
    background-color: #323336;
    border-color: #323336;
    color: #866ff9;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container p {
    margin: 1.1rem 0;
    color: rgb(201, 201, 201);
    font-size: 0.9rem;
    text-align: left;
  }
  
  .form-container span {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
  }