* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

