@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=DynaPuff&family=Nunito:wght@200&family=Open+Sans:wght@300&family=Outfit:wght@100;300;400;500;600;700&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300&family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
